.root{
     -fx-background-color: transparent;
}

.button{
    -fx-font-weight:bold;
    -fx-background-color: #006214;
    -fx-text-fill:  #ffffff;
    -fx-background-radius:10;   
}
.button:hover{
    -fx-font-weight:bold;
    -fx-background-color: #ffffff;
    -fx-text-fill:  #000000;
    -fx-background-radius:10;
    -fx-border-color: #000000;
    -fx-border-radius: 10;

}

.dialog-pane {
    -fx-background-color: #975800;
    -fx-border-radius: 11;
}

.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-weight:bold;
   
}

.dialog-pane:header .header-panel {
    -fx-background-color: rgba(205, 133, 0, .3);
}

.dialog-pane:header .header-panel .label {
     -fx-font-weight: bold;

}

